@import '../../styles/colors';

.wrapper {
  max-width: 162rem;
  margin: 0 auto;
}

.titleHeader {
  font-size: 3rem;
  font-weight: bold;
  margin-block: 0;
  display: flex;
  align-items: center;

  svg {
    margin-right: 1rem;
    font-size: 3rem;
  }
}

.doctorContainer {
  padding-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;
}
